<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About Us</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Welcome to Sweet Corner! <br/>
                    The store has been launched for those that prefer to do their sweet shopping online.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Follow Sweet Corner</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="" style="color: indianred">https://www.facebook.com/sweetcorner</a></li>
                    <li><a href="" style="color: indianred">https://www.instagram.com/sweetcorner</a></li>
                    <li><a href="" style="color: indianred">https://www.pinterest.com/sweetcorner</a></li>
                    <li><a href="" style="color: indianred">https://www.tiktok.com/@sweetcorner</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="/about-us" style="color: indianred">About Us</a></li>
                    <li><a href="" style="color: indianred">Locations</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Sweet Corner</li>
                    <li><i class="fa fa-envelope mr-2"></i>sweetcorner@sc.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 21 48 37 50</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>