<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        #delivery {
            background-color: mediumturquoise;
            color: white;
            margin-bottom: 0;
        }
        #searchbar {
            height: 38px;
            margin-top: 9px;
        }
        .hide{
            display : none;
        }
        .show{
            display : inline;
        }
    </style>
</head>
<body>
<header xmlns:th="http://www.thymeleaf.org">
    <p id="delivery" class="align-items-center text-center"><i>FREE DELIVERY ON ALL ORDERS OVER $40.00</i></p>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <img src="/images/logo2.png" alt="logo" width="120" height="90"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/products">Products</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/about-us">About Us</a>
                    </li>
                </ul>


                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm m-2" >
                        <input id="searchbar" type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search products...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number m-2 fa fa-search">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item m-2" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item m-2" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="btn btn-light btn-sm ml-3"
                           th:classappend="${#request.getRemoteUser() != null} ? show : hide"
                           href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="btn btn-light btn-sm ml-3"
                           th:classappend="${#request.getRemoteUser() != null} ? hide : show"
                           href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>