<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        .col{
            margin-left: 200px;
        }
    </style>
</head>
<body style="background-color: mistyrose">
<div class="container pt-4">
    <div class="col">
        <div class="card" style="width: 800px;">
            <img src="/images/aboutUs.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">
                    Welcome to Sweet Corner! <br/>
                    The store has been launched for those that prefer to do their sweet shopping online.
                    We always stock the best quality sweets, from the original sweet makers, including Haribo, Candy Land, Bassetts, Joseph Dobsons, Swizzels Matlow and many many more.
                </p>
                <a href="/products" class="card-link" style="color: lightcoral">CONTINUE SHOPPING</a>
            </div>
<!--            <ul class="list-group list-group-flush">-->
<!--                <li class="list-group-item">Item 1</li>-->
<!--                <li class="list-group-item">Item 2</li>-->
<!--                <li class="list-group-item">Item 3</li>-->
<!--            </ul>-->
<!--            <div class="card-footer">-->
<!--                Featured-->
<!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>